### Build ###
/out/
/target/
/build/

### IntelliJ IDEA ###
.idea/
/*.iml

### Eclipse (în caz că cineva folosește) ###
.classpath
.project
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
